:root {
  --primary-color: #4caf50;
  --secondary-color: #333;
  --font-family: Arial, sans-serif;
  --font-size-large: 18px;
  --font-size-medium: 16px;
  --font-size-small: 14px;
  --border-radius: 4px;
  --transition-duration: 0.3s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  text-align: center;
}

h1 {
  color: var(--secondary-color);
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

label {
  padding: 10px 20px;
  font-size: var(--font-size-large);
  font-weight: bold;
}

.select,
.button {
  width: 200px;
  height: 40px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-large);
  cursor: pointer;
  transition: background-color var(--transition-duration) ease;
  text-align: left;
}

.select option {
  background-color: #f0f0f0;
  color: black;
  font-size: var(--font-size-small);
}

.button:focus,
.select:focus {
  outline: 2px solid #1b3115;
}

.button:hover {
  background-color: #45a149;
}

#image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

p {
  font-size: var(--font-size-medium);
  color: var(--secondary-color);
  font-style: italic;
}

@media (max-width: 600px) {
  h1 {
    font-size: 22px;
  }

  label {
    font-size: var(--font-size-medium);
  }

  img {
    width: 150px;
    height: 150px;
  }

  .select,
  .button {
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
    padding: 12px;
    font-size: var(--font-size-small);
  }

  .controls {
    flex-direction: column;
    align-items: center;
    gap: 3px;
  }
}