body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#eeeeff, #c8c7ff);
    margin: 0;
    padding: 0;
  }
  
  .container{
    width: 500px;
    margin: 50px auto;
    border: 1px solid #ddd;
    box-shadow: 0 0 128px rgba(0, 0, 0, 0.1),
      0 32px 64px -48px rgba(0, 0, 0, 0.5);
  
  }
  
  .profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 320px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    transition: all 0.5s ease;
  }
  
  
  
  .profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

    margin-bottom: 10px;
  }
  
  .profile-card h2, .profile-card p, .profile-card h3 {
    margin: 10px 0;
  }
  
  .social-media, .skills {
    margin-top: 20px;
    text-align: left;
  }
  
  .social-media ul, .skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .social-media li, .skills li {
    background:transparent;
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    width: 250px;
    margin: 50px auto;
  
  }
  
  
  button{
    background-color: #9897bd;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 7px;
  }
  button:hover{
    background:#b2b1d4 ;
  }
  
  .light-theme-btn{
    background: #deddff;
    color: #000;
  }
  
  .light-theme-btn:hover{
    background: #c7c5c5;
    color: #000;
  }
  .dark-theme-btn{
    background: #5c5c5c;
    color:#fff;
  }
  
  .dark-theme-btn:hover{
    background: #8d8c8c;
    color:#fff;
  }
  
  .blue-theme-btn{
  background:#74afeb ;
  color: #fff;
  }
  
  
  .blue-theme-btn:hover{
    background:#8bc0f5;
  }
  
  .container.light-theme {
    background-color: #deddff;
    color: #000;
  }
  
  .container.dark-theme {
    background-color: #5c5c5c;
  
  
  }
  
  .container.blue-theme {
    background-color: #74afeb;
  
  }
  
  .hidden{
    display: none;
  }
  
  .social-link{
    text-decoration: none;
    color: #44445f;
  }
  
  input{
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
  
    border-radius: 5px;
    background-color: #deddff;
    border: none;
  }
  
  input:focus{
    outline-color: #44445f;
  }