* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Galada', cursive;
  background-image: url('https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e7a0a0;
}

.todo-text {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
}

.btn-danger {
  background-color: #ec5757;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: darkred;
}

#clearListBtn {
  border: 1px solid #c4bbbb;
  color: black;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

#clearListBtn:hover {
  background-color: #a87878;
}

#submitBtn {
  border: 1px solid #c4bbbb;
  color: black;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  color: #942517;
}

main {
  max-width: 500px;
  margin: 50px auto;
  border: 1px solid #c9412c;
  padding: 20px;
  background-color: #e4e8eba0;
  border-radius: 10px;
  width: 100vw;
}

form {
  display: flex;
  gap: 10px;
  justify-content: center;
}

input {
  flex: 1;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.todo-text.completed {
  text-decoration: line-through;
}
