:root {
  --primary-color: #942517;
  --secondary-color: #ec5757;
  --hover-color: #a87878;
  --background-color: #e4e8eba0;
  --border-color: #c9412c;
  --font-family: 'Roboto', sans-serif;
  --font-family-heading: 'Galada', cursive;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 2vw;
  font-family: var(--font-family);
  background-image: url('https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  max-width: 500px;
  margin: 100px auto;
  border: 1px solid var(--border-color);
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1 {
  text-align: center;
  color: var(--primary-color);
  font-family: var(--font-family-heading);
}

/* Form Styles */
form {
  display: flex;
  gap: 1vw;
  margin-bottom: 2vh;
  justify-content: center;
}

input {
  flex: 1;
}

#todoInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #ecb09f;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button#clearListBtn {
  background-color: #dc3545;
}

button:hover {
  opacity: 0.9;
}

/* Todo List Styles */
ul {
  padding-left: 0;
  list-style-type: none;
}

.todo-list-item {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e7a0a0;
}

.todo-text {
  font-size: 18px;
  flex-grow: 1;
  max-width: 300px;
  word-wrap: break-word;
  cursor: pointer;
}

.todo-text:hover {
  color: var(--primary-color);
}

.todo-text.completed {
  text-decoration: line-through;
}

/* Button Styles */
.btn-danger {
  background-color: var(--secondary-color);
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: darkred;
}

#clearListBtn,
#submitBtn {
  border: 1px solid #c4bbbb;
  color: black;
  cursor: pointer;
}

#clearListBtn:hover,
#submitBtn:hover {
  background-color: var(--hover-color);
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  main {
    max-width: 100%;
  }

  form {
    flex-direction: column;
    gap: 2vh;
  }

  h1 {
    font-size: 1.5rem;
  }

  .todo-text {
    font-size: 0.9rem;
    max-width: 150px;
  }
}
