.author-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
  margin-right: auto;
  margin-left: 5rem;
}

.author-text p,
.author-text h4 {
  margin: 0;
}

.name {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.pale {
  color: #999;
  font-size: 0.8rem;
  padding-top: 0.7rem;
}
