* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 800px;
  padding: 20px;
}

h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

.post {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px;
}

.post-body {
  color: #666;
  margin: 0;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.button {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  margin: 15px;
  margin-left: 0;
}

.none {
  display: none;
}

.button--success {
  background-color: #007BFF;
}

.button--success:hover {
  background-color: #0056b3;
}

.button--danger {
  background-color: #FF9800;
}

.button--danger:hover {
  background-color: #e68900;
}

.alert {
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px 0;
  text-align: center;
  font-weight: bold;
}

.alert--success {
  background-color: #4CAF50;
  color: white;
  display: none;
}

.alert--error {
  background-color: #FF5252;
  color: white;
  display: none;
}
