* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 56.24rem;
  margin: 0 auto;
}
