.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar-buttons {
  display: flex;
  gap: 15px;
}

.navbar-button {
  padding: 8px 16px;
  font-size: 1em;
  background-color: #444;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.navbar-button:hover {
  background-color: #555;
}
